@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.playfair-display-leter {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
/*body*/
body{
    background-color: black;
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/*swiper*/
.swiper-button-prev::after{
    font-size: 20px !important;
}
.swiper-button-next::after {
    font-size: 20px !important;
}
.swiper-button-prev{
    color: darkred !important;
}
.swiper-button-next{
    color: darkred !important;
}
.swiper-pagination-bullet{
    background-color: #d4cdcd !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    background-color: darkred !important;
}
/*menus*/
.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.navbar{
    display: flex;
}
.menu-1{
    margin-right: 180px;
}
.menu-2{
    margin-left: 180px;
    display: flex;
    align-items: center;
}
/*logos*/
.logo-1{
    width: 0;
}
.logo-2{
    width: 230px;
}
/*menus navbar*/
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #d4cdcd;
    display: block;
}
.menu .navbar ul li a:hover{
    color: darkred;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

/* header*/
.header-content{
    margin-top: 200px;
    padding-bottom: 50px;
}
/*slider*/
.slider{
    display: flex;
    align-items: center;
}
.slider-txt{
    margin-left: 85px;
    width: 50%;
}
.slider-txt h1{
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}
.slider-txt p{
    font-size: 18px;
    color: rgb(155, 154, 154);
}

/*botones slider*/
.botones{
    margin-top: 50px;
}
.btn-1{
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid darkred;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}
.btn-1:hover{
    background-color: darkred;
    border: 2px solid darkred; /* es importante si el fondo es de un color diferente al borde inicial*/
}
.slider-img{
    width: 50%;
}
.slider-img img{
    margin-right: 225px;
    width: 550;
}

/*products continer*/
.products{
    background-color: rgb(32, 32, 32);
}
/*tabs*/
.tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}
.tabs label{
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0px;
    text-align: center;
    cursor: pointer;
    color: gainsboro;
    font-weight: 700;
    transition: background ease 0.2s;
    text-transform: capitalize;
}
.tabs label:hover{
    color: darkred;
}

.tabs .tab{
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}
.tabs input[ type="radio"]{
    display: none;
}
.tabs input[type="radio"]:checked + label{
    border-bottom: 2px solid darkred;
    color: #d4cdcd;
}
.tabs input[type="radio"]:checked + label + .tab{
    display: block;
}
/*productos*/
.product{
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}
.product-img{
    width: 50%;
    text-align: left;
}
.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: #d4cdcd;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid darkred;
    border-radius: 10px;
    margin-bottom: 50px;
}
.product-img h4:hover{
    background-color: darkred;
}
.product-img img{
    width: 150px;
    height: 120px;
}
.product-txt{
    width: 50%;
    margin-left: 10px;
    text-align: left;

}
.product-txt h4{
    color: #d4cdcd;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}

/*info*/
.info{
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info h2{
    font-size: 75px;
    color: #d4cdcd;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.info p{
    font-size: 18px;
    color: #d4cdcd;
    margin-bottom: 50px;
}
.btn-2{
    display: inline-block;
    padding: 15px 35px;
    background-color: black;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
    border: 2px solid darkred;
}
.btn-2:hover{
    background-color: darkred;
    /*border: 2px solid red;*/ }

/*info-contacto*/
.info-contacto{
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(29, 29, 29);
}
.info-contacto h2{
    font-size: 75px;
    color: #d4cdcd;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.info-contacto-txt{
    display: flex;
    justify-content: space-between;
    
}
.info-contacto-txt .txt {
    font-size: 18px;
    color: #d4cdcd;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-contacto-txt .txt h4{
    margin-bottom: 30px;
}
.info-contacto-txt .txt p{
    font-weight: 600;
    margin-bottom: 15px;
    
}
/* socila*/
.socials{
    display: flex;
}
.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid darkred;
    border-radius: 50%;
}
.social:hover{
    background-color: darkred;
}
.social img{
    width: 20px;
    margin: 10px;
}

/*footer*/
.footer{
    display: flex;
    padding: 100px 50px;
    justify-content: space-between;
}
.footer-txt{
    color: #d4cdcd;
    text-transform: initial;
    padding: 0px 50px;
}

/*media*/
@media (max-width:750px){
    .menu{
        padding: 20px;
        justify-content: space-between;
    }
    .menu-2{
        display: none;
    }
    
    .logo-1{
        width: 100px;
    }
    .logo-2{
        width: 0;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1c1a1a ;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked~ .navbar{
        display: initial;
    }
    .header-content{
        padding: 30px;
        margin-top: 100px;
    }
    .slider{
        flex-direction: column;
    }
    .slider-txt{
        margin-left: 0;
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
    }
    .slider-txt h1{
        font-size: 50px;
    }
    .slider-txt p{
        font-size: 16px;
    }
    .btn-1{
        padding: 10px 25px;
        font-size: 14px;
    }
    .slider-img{
        width: 100%;
        text-align: center;
    }
    .slider-img img{
        margin-right: 0;
        width: 300px;
    }
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }
    .tabs{
        padding: 50px 30px;
    }
    .tabs label{
        width: 33%;
    }
    .info{
        padding: 50px;
        flex-direction: column;
        text-align: center;
        width: 80%;
    }
    .info h2{
        font-size: 50px;
    }
    .info p{
        font-size: 16px;
    }
    .btn-1{
        font-size: 16px;
    }
    .info-contacto{
        padding: 80px 50px;
    }
    .info-contacto h2{
        font-size: 60px;
        font-weight: 700;
    }
    .info-contacto-txt .txt {
        font-size: 16px;
        padding: 0px 20px;
    }
    .info-contacto-txt .txt h4{
        margin-bottom: 20px;
    }
    .info-contacto-txt .txt p{
        font-weight: 400;
        margin-bottom: 10px;
    }
    /*footer*/
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 25px;
    }

}
